{% extends "base.html" %}
{% load static %}

{% block extra_js %}
<script src="https://www.stripe.com/v3/"></script>
<script src="{% static "finances/js/3dsec.js" %}"></script>
<script>
    _3dsec("{{ STRIPE_PUBLISHABLE_KEY }}", "{{ CLIENT_SECRET }}")
</script>
{% endblock %}

{% block content %}
<div class="m-auto">
    <div class="row">
        <div class="col">
            <div class="container">
                
                <div class="h2 text-center my-4">3D Security</div>
                
                <div id="3ds_result"></div>
            </div>
        </div>
    </div>
</div>

{% endblock %}