{% extends "base.html" %}
{% load static %}


{% block content %}
<div class="m-auto">
    <div class="row">
        <div class="col">
            <div class="container">
                
                <div class="h2 text-center my-4">Enter card details</div>
                <form action="." method="post" id="payment-form">
                    {% csrf_token %}
                    
                    <div class="mb-3">
                        <label class="form-label">{{ form.name.label_tag }}</label>
                        {% render_field form.name class+="form-control focus-ring focus-ring-dark" placeholder=form.name.help_text|safe %}
                    </div>
                    
                    <div class="mb-3">
                        <label class="form-label">{{ form.number.label_tag }}</label>
                        {% render_field form.number class+="form-control focus-ring focus-ring-dark" placeholder=form.number.help_text|safe %}
                    </div>
                    
                    <div class="row mb-3">
                        <div class="col">
                            <label class="form-label">{{ form.brand.label_tag }}</label>
                            {% render_field form.brand class+="form-control focus-ring focus-ring-dark" placeholder=form.brand.help_text|safe %}
                        </div>
                        <div class="col">
                            <label class="form-label">{{ form.cvc.label_tag }}</label>
                            {% render_field form.cvc class+="form-control focus-ring focus-ring-dark" placeholder=form.cvc.help_text|safe %}
                        </div>
                        <div class="col">
                            <label class="form-label">{{ form.exp_month.label_tag }}</label>
                            {% render_field form.exp_month class+="form-control focus-ring focus-ring-dark" placeholder=form.exp_month.help_text|safe %}
                        </div>
                        <div class="col">
                            <label class="form-label">{{ form.exp_year.label_tag }}</label>
                            {% render_field form.exp_year class+="form-control focus-ring focus-ring-dark" placeholder=form.exp_year.help_text|safe %}
                        </div>
                    </div>
                    
                    <div class="form-check">
                      {% render_field form.auto class+="form-check-input focus-ring focus-ring-dark" placeholder=form.number.help_text|safe checked %}
                      <label class="form-check-label" for="flexCheckChecked">{{ form.auto.label_tag }}</label>
                    </div>
                    
                    <input type="hidden" name="payment_intent_id" value="{{ payment_intent_id }}">
                    <input type="hidden" name="price_id" value="{{ price.id }}">
                    <div class="d-grid mb-3">
                        <input id="submit-button" type="submit" class="btn btn-dark" value="Pay"  >
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}